<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity android:name="com.qw.framework.ui.ContainerFragmentActivity" />
        <activity android:name="com.qw.framework.ui.FragmentListActivity" />
    </application>
</manifest>